body{
  background-color: rgb(75, 74, 74);
}

.comment-container{
  background-color: rgb(13, 37, 53);
}
.comment{
  background-color: hsl(0, 9%, 11%);
  text-align: center;

}
  
  .comment h2{
    font-size: .8rem;
  }